/* CSS styling rules for components of the application */

body { 
    /*background-image: linear-gradient( 90deg, #090979, #00d4ff ); */
    font-family: Helvetica;
    width: 100%;
    padding: 0px;
}

h1 {
    text-align: center;
    font-size: 250%;
}

.enter-field {
    text-align: center;
    font-size: 35px;
}

.submit-field {
    text-align: center;
}

.submit-button {
    border: solid 3px;
    height: 45px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Styling for the table and the elements of the table */
table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px; 
}

table, th, td {
    border: 2px solid black;
    border-collapse: separate !important;
    color: white;

}

th, td {
    padding: 15px;
}

td {
    text-align: center;
}

/* Rules below allow for the background image to be animated*/
.container {
    width: 100%;
    height: 100vh;
    background: url(animated_background2.jpg) repeat-x;
    background-size: cover;
    -webkit-animation: animatebackground 60s linear infinite;
    animation: animatebackground 60s linear infinite;
    -ms-animation: animatebackground 60s linear infinite;
    -moz-animation: animatebackground 60s linear infinite;
}

@keyframes animatebackground {
    from {background-position: 0 0;}
    to {background-position: -1000px 0;}
}

@-webkit-keyframes animatebackground {
    from {background-position: 0 0;}
    to {background-position: -1000px 0;}
}

@-ms-keyframes animatebackground {
    from {background-position: 0 0;}
    to {background-position: -1000px 0;}
}

@-moz-keyframes animatebackground {
    from {background-position: 0 0;}
    to {background-position: -1000px 0;}
}