/* Styling rules for navigation bar at top of screen */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid black;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid black;
}

.navbar-item-one {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-item-two {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: darkblue;
}